
/********************
--------all----------
*********************/
body {
	margin: 0px;
	font-family: 'Open Sans', sans-serif;
	color: #999;
	background-color: #E0F8E6;
}

#header {
	overflow: auto;
	background: #6ab47b;
	height: 100%;
}

#header h1{
	
}

#header h1 a {
  	text-decoration : none;
	color: #FBEFEF;
	float: left;
  	font-family: 'Changa One', sans-serif;
  	font-style: bold;
  	padding-left: 5%;	
}

#header h2 {
	clear: both;
	color: #FBEFEF;
	float: left;
  	font-size: 0.8em;
 	font-style: bold;
  	padding-left: 5%;
}

#header nav ul {
	text-align: right;
	padding-right: 5%;
	padding-top: 1%;
	list-style: none;
	color: #fff;
}

#header nav li {
	display: inline-block;
	width: 80px;
	height: 20px;
}

#header nav a:hover{
  color: #32673f;
}

#header nav ul li a {
	font-family: sans-serif;
	font-weight: 800;
  	text-decoration : none;
  	color: #fff;
}

footer{
	text-align: center;
	height: 30px;
	background: #6ab47b;
	font-family: sans-serif
	font-weight: 800;
	color: #F1f1f1;   
}
footer a {
	font-style: italic;
	font-weight: 800;
	color: #32673f;
}


/******************
-------Index-------
*******************/
#main {
	padding: 5% 10% 5% 10%;
  	margin: 0;
  	list-style: none;
}

#main li {
  	margin: 2%;
  	background-color: #CEECF5;
  	display: inline-table;
}

#main li a{
	text-decoration : none;
	
}

#main li a p {
	text-align: center;
  	margin: 0;
  	color: #BDBDBD;
}


/******************
-------About-------
*******************/
.avatar{
	float: left;
  	max-width: 150px;
  	border-radius: 100%;
  	margin-right: 5%;
}
.aboutt {
	padding: 5% 10% 10% 10%;
	text-align: justify;
	font-size: 1.0em;
}
.aboutt a{
	text-decoration : none;
	color: #6ab47b;
	font-style: italic;
}


/******************
-------Contact-----
*******************/
.contacttt {
	overflow: auto;
	height: 400px;
	padding-top: 2%;
}

.main1 {
	text-align: justify;
	float: left;
	margin-left: 15%;
	width: 40%;
	font-size: 1.0em;
}

.main2{
	margin-left: 5%;
	float: left;
	width: 30%;
}

.main2 li{
	margin-bottom: 10px;
}

.main2 a {
	text-decoration : none;
	color: #6ab47b;
}

.main2 li.sdt{
	list-style-image: url(img/phone.png);
}
.main2 li.mail{
	list-style-image: url(img/mail.png);
}
.main2 li.fb{
	list-style-image: url(img/facebook.png);
}


/******************
----Responsive-----
*******************/
@media only screen and (max-width: 600px) {
 	#header nav ul{
		text-align: center;
		background-color: #599a68;
		margin: 0;
		padding: 0;
	}
	#header h1{
		text-align: center;
	}
	#header h1 a{
  		float: none;
  	}
  	#header h2 {
  		text-align: center;
  		float: none;
	}


	.main2{
		clear: both;
		margin-left: 15%;
		float: left;
		width: 70%;
	}
	.main1 {
		width: 70%;
	}

	.avatar{
		margin-left: 30%;
		float: none;
		clear: both;
	}
}