body{
	margin:0px 0px 0px 0px;
	clear: both;
	font-family: 'Open Sans', sans-serif;
	color: #999;
}
/*header*/
header{
	background-color:#6ab47b;
	overflow: auto;
}

h1{
	font-family: 'Open Sans', sans-serif;
}

header a{ 
	margin-top: 1%;
	margin-left: 1%;
	float: left;
	text-decoration: none;
	color: white;	
}
.menu_link{
	float: right;
	margin-top: 3%;
	margin-bottom: 3%;
	margin-right: 2%;
}

.menu_link ul li a {
	margin:5px;
	color: white;
	font-size: 20px;
	text-decoration: none;
}

.menu_link ul li{
	list-style: none;
	display: inline-block;
}

.menu_link a:hover{
	color: black;
}
.mobile{
	background-color: #599a68;
	margin-top: 0px;
	height: 5px;
	clear: both;
}
/*section*/
section{
	padding-top: 1%;
	padding-left: 1%;
	padding-right: 1%;
}
/*footer*/
footer{
	clear: both;
	padding-left: 40%;
}
footer ul li {
	list-style: none;
	display: inline-block;
}
footer ul li a img{
	width: 50%;
	height: auto;
}
footer p{
	margin-top: 10px;
}
/*
*page home
*/
.body_img ul li{
	margin-right: 0.5%;
	margin-top: 2%;
	list-style: none;
	display: inline-block;
	width: 30%;
}
.body_img ul img{
	height: auto;
	width: 100%;
}
.body_img ul li p{
	text-align: center;
	height: auto;
	width: 100%%;
}
/*
*page About
*/
.avatar{
	border-radius: 50%;
	width: 150px;
	margin: 0 2% 100% 20%;
	float: left;
}
.contract_about {
	margin: 0 20% 0 0;
}
.contract_about a{
	color: green;
}

/*
* Page Contact
*/
.contract_page_contact{
	width: 40%;
	float: left;
	padding-left: 10%;
}
.contract_page_contact ul{
	padding-left: 0px;
}
.contract_page_contact ul li img{	
	width: 20px;
}
.contract_page_contact ul li a{
	text-decoration: none;
	font-size: auto;
}
.contract_page_contact ul li {
	list-style: none;
	margin-top: 2%;
}

/*
* Responsive
*/

@media screen and (max-width: 600px) {
	/*
	*header
	*/
	header{
		text-align: center;
	}
	header a{
		float: none;
		clear: both;
	}
	.menu_link{
		float: none;
		background-color:#599a68;
		margin-right: 0px;
		margin-bottom: 0px;
	}
	.menu_link ul{
		margin-top: 0px;
		margin-bottom: 0px;
	}
	/*
	*page about
	*/
	.avatar{
		margin-left: 2%;
		margin-bottom: 1%;
		float: none;
		text-align: center;
	}
	.body_page_about{
		text-align: center;
	}
	.body_page_about {
		float: none;
		clear: both;
	}
	.contract_about{
		margin-right: 0px;
	}
	/*
	*page contract
	*/
	section{
		clear: both;
	}
	.contract_page_contact{
		width: 80%;
		margin: 1% 9% 1% 9%;
		float: none;
	}
	/*
	* page home
	*/
	.body_img ul li{
		width: 40%;
	}
	.body_img ul{
		margin: 10px 0px 0px 10%;
	}

	
}
