body{
	margin:0px 0px 0px 0px;
	clear: both;
}
/*header*/
header{
	background-color:#88e88d;
	overflow: auto;
}

header img{ 
	float: left;
 
}
.menu_link{
	float: right;
	margin-top: 3%;
	margin-bottom: 3%;
	margin-right: 2%;
}

.menu_link ul li a {
	margin:5px;
	color: white;
	font-size: 20px;
	text-decoration: none;
}

.menu_link ul li{
	list-style: none;
	display: inline-block;
}

.menu_link a:hover{
	color: black;
}
hr{
	background-color: green;
	margin-top: 0px;
	height: 5px;
	clear: both;
}
/*section*/
.body_img{
	margin-top: 5%;
	margin-left:5%;
	margin-right: :5%;
}
.body_img ul{
	display:  inline-block;
}
.block_img{
	margin-right: 4%;
	margin-left: 5%;
	margin-top: 2%;
	float: left;
	list-style: none;
	background-color: #cdd1d6;
	height: 300px;
	width: 300px;
}

.block_img img{
	height: 250px;
	width: 300px;
}

.block_img p {
	text-align: center;
}
/*footer*/
footer{
	clear: both;
}
footer p{
	margin-top: 10px;
	text-align: center;
}
/*Multi scren*/
@media screen and (max-width: 600px) {
}