a{
    text-decoration: none;
}

ul{
    list-style: none;
}

#menu ul{
    padding-right: 10%;
    float: right;
}

#menu li{
    display: inline;
    padding-right: 30px;
}

#menu a{
    color: white;
}

#menu a:visited{
    color: white;
}

#menu a:hover, #menu a.selected{
    color: #32673f
}

#header{
    background: #6ab47b;
    width: 100%;
    padding: 25px;
    border-bottom: solid 6px #599a68;
}

#logo h1{
    padding: 0;
    padding-top: 5px;
    margin: 0;
    text-align: left;
    color: white;

}

#logo{
    /* background: lawngreen; */
    width: 45%;
    float: left;
    padding-left: 20px; 
}

#menu{
    /* background: lawngreen; */
    width: 45%;
    float: right;
}

#clear{
    clear: both;
}

#content{
    max-width: 80%;
    /* background: black;
    height: 500px; */
    margin: auto;
    padding: 35px;
}

img{
    max-width: 100%;
}

#content #grid-img{
    margin: 0;
    padding: 70px 0;
}

#grid-img li{
    max-width: 29.3%;
    float: left;
    padding: 2%;
}

footer{
    text-align: center;
    clear: both;
    color: #ccc;
    padding-top: 100px;
}

.footer-link img{
    max-width: 35px;
    padding: 5px;
    padding-bottom: 0;
}

.footer-link p{
    padding: 0;
}

#photo{
    display: block;
    max-width: 150px;
    border-radius: 100%;
    float: left;
    margin: 35px;
    margin-left: 5px;
}

h3{
    color: #999;
}

#content p{
    color: #999;
}

#primary{
    color: #999;
    max-width: 60%;
    float: left;
    margin-right: 5%;
}

#secondary{
    color: #999;
    float: left;
    max-width: 30%;
    margin-left: 5%;
}

#contact-info{
    padding: 0;
    margin: 0;
}

#contact-info li{
    width: 100%;
    float: none;
    padding: 5px;
    height: 50px;
}

#contact-info a{
    color: #999;
    text-align: left;
    margin-left: 10px;
}

#contact-info .phone{
    background-image: url(../img/phone.png);
    display: block;
    min-height: 20px;
    background-repeat: no-repeat;
    background-size: 30px 30px;
    padding: 0 0 0 30px;
}
#contact-info .mail{
    background-image: url(../img/mail.png);
    display: block;
    min-height: 20px;
    background-repeat: no-repeat;
    background-size: 30px 30px;
    padding: 0 0 0 30px;
}
#contact-info .twitter{
    background-image: url(../img/twitter.png);
    display: block;
    min-height: 20px;
    background-repeat: no-repeat;
    background-size: 30px 30px;
    padding: 0 0 0 30px;
}

@media only screen and (max-width: 500px) {
    #primary{
        max-width: 100%;
        float: none;
        margin-bottom: 50px;
    }
    
    #secondary{
        float: none;
        max-width: 100%;
    }

    #photo{
        float: none;
        margin: auto;
    }

    #header{
        padding: 0;
    }

    #logo{
        width: 100%;
        padding: 20px 0;
    }

    #logo h1{
        text-align: center;
    }

    #menu{
        width: 100%;
        background: #599a68;
        padding: 0;
        padding-top: 10px;
        padding-bottom: 10px;
    }
    #menu ul{
        padding: 0;
        float: none;
        width: 60%;
        margin: auto;
    } 
    #menu li{
        padding: 5px;
        margin: auto;
        width: 26%;
        text-align: center;
        display: inline-table;
    }

    #content li{
        max-width: 46%;
        float: left;
        padding: 2%;
    }

    /* nav{
        width: 100%;
        display: inline-flex;
        margin: auto;
    } */
}