html, body{
    font-family: 'Fira Sans',monospace;
    margin: 0px auto;
    color: #999;
    
}

a{
    text-decoration: none;
}

img{
    max-width: 100%;
}

h3{
    margin: 0 0 1em 0;
}
/**********/
/* HEADING*/
/**********/
header{
    float: left;
    margin: 0 0 30px 0;
    padding: 5px 0 0 0;
    width: 100%;    

}

#logo{
    margin: 0;
    text-align: center;    
}

h1{
    margin: 15px 0;
    line-height: 0.8em;
    font-size: 1.75em;
    font-weight: normal;
}

h2{
    margin: -5px 0 0;
    font-weight: normal;
}


nav{
    text-align: center;
    margin: 20px 0px 0px;
    padding: 10px 0;
}

nav ul{
    list-style: none;
    margin: 0 10px;
    padding: 0;
}

nav ul li{
    display: inline-block;
}

nav li a{
    font-weight: bold;
    padding: 15px 10px;
}



/*************/
/***CONTENT***/

#wrapper{
    max-width: 940px;
    margin: 0 auto;
    padding: 0 5%;
}

#list-img{
    margin: 0px;
    padding: 0px;
    list-style: none;
}

#list-img li{
    float: left;
    width: 45%;
    margin: 2.5%;
    background-color: antiquewhite;
    color: #bdc3c7;
}

#list-img li a p{
    margin: 0px;
    padding: 5%;
    
}

/************
    ABOUT
************/

.profile-photo{
    display: block;
    max-width: 300px;
    margin: 0 auto 30px;
    border-radius: 100%;
}

/**********/
/* CONTACT*/
/**********/

.contact-info{
    list-style: none;
    padding: 0;
    margin: 0;
    font-size: 0.9em;
    
}

.contact-info a{
    display: block;
    min-height: 20px;
    background-repeat: no-repeat;
    background-size: 20px 20px;
    padding: 0 0 0 30px;
    margin: 0 0 10px;
}

.contact-info li.phone a{
    background-image: url('../images/phone.png');
}

.contact-info li.mail a{
    background-image: url('../images/mail.png');
}

.contact-info li.twitter a{
    background-image: url('../images/twitter-wrap.png')
}
/************
    FOOTER
************/

footer {
  font-size: 0.75em;
  text-align: center;
  clear: both;
  padding-top: 50px;
  color: #ccc;
}

.social-icon{
    width: 20px;
    height: 20px;
    margin: 0 5px;
}



/**************
    COLOR
**************/

header{
    background: #6ab47b;
    border-color: #599a68; 
}

nav{
    background-color: #599a68;

}

h1, h2{
    color: #fff;
}

a{
    color: #6ab47b;
}


nav a, nav a:visited {
  color: #fff;
}

/* selected nav link */
nav a.current, nav a:hover {
  color: #32673f;
}